volumes:
  pg_data:
  static:
  media:

services:
  db:
    image: postgres:13.10
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    build: ./backend/
    env_file: .env
    volumes:
      - static:/backend_static
      - media:/app/media

  frontend:
    env_file: .env
    build: ./frontend/

  nginx:
    build: ./nginx/
    volumes:
      - static:/staticfiles
      - media:/mediafiles
    ports:
      - 8000:80